a{
    text-decoration: none;
    color: white;
}
p{
    text-align: justify;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
}
.marg{
    margin-top: 75px;
}
.cim2{
    padding-right: 12rem;
}
.kep2{
    height: 200px;
}
