.card {
    width: 340px;
    height: 310px;
    padding: 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgray;
    border-radius: 20px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    border: #333 2px solid;
}
  
  .card > * {
    margin: 0;
  }
  
  .card__title {
    font-size: 2rem;
    font-weight: 900;
    color: rgb(160, 0, 0);
  }
  
  .card__content {
    font-size: 1rem;
    line-height: 18px;
    color: rgb(160, 0, 0);
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: lightgray;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid rgb(160, 0, 0);
    color: black;
  }
  
  .card__form button {
    border: 0;
    background: rgb(160, 0, 0);
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  .sign-up:hover {
    opacity: 0.6;
    transition: 0.5s;
    transform: scale(1.1);
  } 