
.mustangsize {
    width: 90%;
    border-radius: 2rem;
    background: linear-gradient(145deg, #fff8f8, #d6d1d1);
    box-shadow:  50px 45px 69px #b7b3b3,
                 -35px -35px 59px #ffffff;
}
.contenth2 {
    padding: 2.4rem;
    font-family: "Lilita One", sans-serif;
    font-size: 1.5rem;
}
.mustang-animation {
    animation-name: mustangneon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/* ^-- Mainpage */

/* Kocsik */

.kocsifajtak {
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2.4rem;
}
.kocsik {
    margin: auto;
    display: block;
    transition: 0.6s;
    border: 0;

}
.kocsik:hover {
    transform: scale(1.2);

}
.overlaykocsi {
    overflow: visible;
    object-position: 6rem;
    float: right;
    display: block;
    z-index: 10;
    opacity: 0;
    height: auto;

}
.szoveg {
    font-family: "Roboto Slab", serif;
}
.szoveg01 {
    opacity: 0;
}

@media (max-width: 450px) and (min-width: 0px) {
    .overlaykocsi {
        width: 0px;
    }
}

@media screen and (max-width: 450px) {
    .overlaykocsi {
        width: 0;
    }
}