.logo  {
    margin: 0;
    width: 75px;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

footer {
    text-align: center;
}

.imgaudi { 
    border: solid black;
    
}

body{
    font-style: italic;
}
.sportaudi{
    text-align: justify;
    border: solid black;
    
}