
body{
    overflow-x: hidden;
    background-color: black !important; 
    color: white !important;

}
    
nav{
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    position: fixed;
    width: 100vw;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: gray;
    transition: 0.7s;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(255, 255, 255, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
  display: none;  
}
@media(max-width: 800px){
   .hideOnMobile{
    display: none;
   }
   .menu-button{
    display: block;
   }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
.lamboka{
    max-width: 150px;
    position: absolute;
    left: 30px;
}
.lambo{
    min-width: 100vw;
}
.urus{
    border-radius: 20px;
}
footer{
    background-color: #9C9C9C;
    padding: 30px;
}
.card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}