.card {
    width: 346px;
    height: 254px;
    padding: 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: #333 2px solid;
}
  
  .card > * {
    margin: 0;
  }
  
  .card__title {
    font-size: 2rem;
    font-weight: 900;
    color: #333;
  }
  
  .card__content {
    font-size: 1rem;
    line-height: 18px;
    color: #333;
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  .sign-up:hover {
    opacity: 0.6;
    transition: 0.5s;
    transform: scale(1.1);
  } 
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
        }
    30% {
        transform: rotate(3deg);
        }

    70% {
        transform: rotate(-3deg);
        }
    100% {
        transform: rotate(0deg);
    }
}